<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  >
  <div class="sen" >
  <ul >
  <div class="I"><li>Ideator</a></li></div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
  <div class="A"><li><%= link_to 'All Ideas', root_path %></a></li></div>
  <div class="In"><li>Inspire me</a></li></div>
  <div class="Ab" ahref=about.html.erb><li><%= link_to 'About', about_path %></a></li></div>
  </ul>
  </div>
  
  <div id="wrap">
   <%=render 'shared/nav'%>
  <div class="container">
<%= yield %>
</div>
</div>
<%=render 'shared/footer'%>
</body>
</html>
