<!DOCTYPE html>
<html>
<head>
  <title>Shisir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="A">
  <div class="B" >
  <ul >
  <div class="C"><li>Ideator</a></li></div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
  <li class="D"><%= link_to 'All Ideas', root_path %></a></li>
  <li class="E"><%= link_to 'Inspire me', root_path %></a></li>
  <li class="F" ><ahref=about.html.erb><%= link_to 'About', about_path %></a></li>
  </ul>
  </div>
  
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6 col-md-offset-3">
        <%= render 'shared/flash_messages' %>
        
      </div>
    </div>
    </div>
<%= yield %>
</body>
</html>
